.div1 {
  position: absolute;
  top: 0;
  left: 370px;
  border-radius: var(--br-50xl);
  background-color: var(--color-whitesmoke);
  width: 1658px;
  height: 1200px;
}
.allHere {
  top: 37px;
  left: 86px;
  font-weight: 600;
}
.allHere,
.child,
.div3 {
  position: absolute;
}
.div3 {
  top: 59px;
  left: 277px;
  font-size: var(--font-size-lg);
}
.child {
  top: 105.5px;
  left: 12.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 346px;
  height: 1px;
}
.comp21 {
  top: 0;
  left: 0;
  width: 110px;
  height: 106px;
  object-fit: cover;
}
.comp21,
.div2,
.item {
  position: absolute;
}
.div2 {
  top: 0;
  left: 0;
  width: 358px;
  height: 106px;
  font-size: var(--font-size-22xl);
}
.item {
  top: 105.5px;
  left: 379.5px;
  border-top: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 1525px;
  height: 1px;
}
.div5 {
  top: 38px;
  left: 65px;
  font-weight: 300;
}
.div5,
.div6,
.inner {
  position: absolute;
}
.div6 {
  top: 85px;
  left: 65px;
  font-weight: 300;
}
.inner {
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 346px;
  height: 1px;
}
.icon,
.icon1 {
  position: absolute;
  top: 33px;
  left: 10px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.icon1 {
  top: 78px;
  width: 36px;
  height: 35px;
}
.child1,
.rectangleDiv {
  position: absolute;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 340px;
  height: 42px;
  opacity: 0;
}
.rectangleDiv {
  top: 28px;
  cursor: pointer;
}
.child1 {
  top: 74px;
}
.child2,
.div4 {
  position: absolute;
  top: 1008px;
  left: 13px;
  width: 345px;
  height: 116px;
}
.child2 {
  top: 274px;
  left: 94px;
  background-color: var(--color-lightsteelblue-100);
  width: 214px;
  height: 32px;
  opacity: 0;
  cursor: pointer;
}
.div8,
.div9 {
  position: absolute;
  top: 7px;
  left: 70px;
  font-size: var(--font-size-5xl);
}
.div9 {
  top: 233px;
}
.allAboutExam,
.div10,
.div11,
.thingsToDo {
  position: absolute;
  top: 53px;
  left: 101px;
  font-size: var(--font-size-lg);
  font-weight: 300;
}
.allAboutExam,
.div10,
.div11 {
  top: 279px;
}
.allAboutExam,
.div11 {
  top: 407px;
}
.allAboutExam {
  top: 86px;
}
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18 {
  position: absolute;
  top: 119px;
  left: 133px;
  font-weight: 300;
}
.div13,
.div14,
.div15,
.div16,
.div17,
.div18 {
  top: 312px;
}
.div14,
.div15,
.div16,
.div17,
.div18 {
  top: 334px;
}
.div15,
.div16,
.div17,
.div18 {
  top: 356px;
}
.div16,
.div17,
.div18 {
  top: 378px;
}
.div17,
.div18 {
  top: 141px;
}
.div18 {
  top: 163px;
}
.icon2,
.icon3 {
  object-fit: cover;
}
.icon2 {
  position: absolute;
  top: 0;
  left: 4px;
  width: 46px;
  height: 43px;
}
.icon3 {
  top: 222px;
  left: 0;
  width: 54px;
  height: 50px;
}
.child3,
.child4,
.icon3 {
  position: absolute;
}
.child3 {
  top: 2px;
  left: 60px;
  background-color: var(--color-lightsteelblue-100);
  width: 248px;
  height: 39px;
  opacity: 0;
  cursor: pointer;
}
.child4 {
  top: 48px;
  left: 94px;
  width: 214px;
  height: 32px;
}
.child4,
.child5,
.child6 {
  background-color: var(--color-lightsteelblue-100);
  opacity: 0;
  cursor: pointer;
}
.child5 {
  position: absolute;
  top: 117px;
  left: 125px;
  width: 183px;
  height: 22px;
}
.child6 {
  top: 228px;
  left: 60px;
  width: 248px;
  height: 39px;
}
.child6,
.child7,
.div7 {
  position: absolute;
}
.div7 {
  top: 159px;
  left: 16px;
  width: 308px;
  height: 428px;
  font-size: var(--font-size-sm);
}
.child7 {
  top: 27px;
  left: 14px;
  background-color: var(--color-gainsboro);
  width: 339px;
  height: 66px;
  opacity: 0;
}
.main {
  font-weight: 600;
}
.span {
  font-weight: 300;
  white-space: pre-wrap;
}
.mainContainer {
  top: 53px;
  left: 427px;
  font-size: var(--font-size-9xl);
}
.div19,
.mainContainer,
.welcomeUserName {
  position: absolute;
  color: var(--color-darkslategray);
}
.welcomeUserName {
  top: 124px;
  left: 419px;
  font-size: var(--font-size-17xl);
}
.div19 {
  top: 166px;
  left: 422px;
  font-weight: 300;
}
.child10,
.child8,
.child9 {
  position: absolute;
  top: 223px;
  left: 417px;
  background-color: var(--color-gainsboro);
  width: 700px;
  height: 900px;
}
.child10,
.child9 {
  left: 1152px;
  width: 725px;
  height: 470px;
}
.child10 {
  top: 723px;
  height: 400px;
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-lightskyblue);
  height: 1200px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-pretendard);
}
