.page {
  position: relative;
  padding-top: 120px; /* 고정된 상단바 높이만큼 아래로 밀기 */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: #8cb7e5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
  font-family: "Pretendard", Arial, sans-serif;
}

/* 페이지 컨테이너 */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 전체 높이 */
  background-color: #f9f9f9;
  font-family: "Pretendard", Arial, sans-serif;
}


/* 제목 */
.title {
  color: #435364;
  font-family: "Pretendard", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin: 0; /* 기본 여백 제거 */
}

/* 폼 */
.form {
  width: 815px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  font-family: "Pretendard", Arial, sans-serif;
}

/* 입력 필드 */
.inputField {
  width: 673px;
  height: 60px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: "Pretendard", Arial, sans-serif;
}

/* 입력 필드 포커스 애니메이션 */
.inputField:focus {
  border-color: #435364;
  box-shadow: 0 0 10px rgba(140, 183, 229, 0.5);
  outline: none;
}

/* 제출 버튼 */
.submitButton {
  width: 117px;
  height: 52px;
  flex-shrink: 0;
  background-color: #435364;
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Pretendard", Arial, sans-serif;
  margin-top: 40px;
}

.submitButton:hover {
  background-color: #2c3743;
}

/* 로그인 리디렉션 텍스트 */
.loginRedirect {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #B8BBB7;
  font-family: "Pretendard", Arial, sans-serif;
}

.loginLink {
  cursor: pointer;
  color: #B8BBB7;
  text-decoration: underline;
  font-family: "Pretendard", Arial, sans-serif;
}

.loginLink:hover {
  color: #B8BBB7;
}
